body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1c1c;
}
header{
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: #000;  
    position: fixed; 
    z-index: 0; 
}
.logo{
    margin: 0;
    height: 100px;
    width:30%;
   
    float: left;
}
.logo img{
    margin-left: 30px;
    width: 150px;
    height: 100px;
}
nav{
    width: 100%;
    height: 100px;
    margin: 0;
}
nav a{
    float: right;
    text-decoration: none;
    font-weight: bold;
    padding-right: 30px;
    font-size: 20px;
    margin-top: 30px;
    color: #fff;
}
.home{
    margin:0;
    width: 100%;
    height: 600px;

}
.home img{
    margin: 0;
    height: 650px;
    width: 1500px;
}
.home h3{
    position: absolute;
    top:300px;
    left: 100px;
}
.about{
    margin: 0;
    height: 200px;
    width: 100%;
    background-color: #000;
}
.about p { 
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: justify;
}
.about h2{
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;

}
.Service{
    margin: 0;
    width: 100%;
    height: 500px;
    background-color: #1f1c1c;
}
.Service1{
    margin: 0;
    float: left;
    border: 1px solid rgb(92, 90, 90);
    height: 400px;
    color:#fff;
    width : 32%;
    margin-left: 1%;
    text-align: justify;
}
.Service2{
    margin: 0;
    color: #fff;
    float: left;
    height: 400px;
    width: 32%;
    border: 1px solid rgb(92, 90, 90);
    margin-left: 1%;
    text-align: justify; 
}
.Service3{
    margin: 0;
    float: left;
    color: #fff;
    height: 400px;
    width: 32%;
    margin-left: 1%;
    text-align: justify;
    border: 1px solid rgb(92, 90, 90);
}
.Service img{
    padding-left: 20px;
    padding-top: 10px;
}
.Service p{
    padding-right: 10px;
    padding-left: 10px;
}
.Service h2{
    padding-right: 10px;
    padding-left: 10px;
}
.service-head h2{
    padding: 0;
    padding-left: 20px;
    color: #fff;
}
.Gallery{
    margin: 0;
    padding-left: 10px;
}
.Gallery img{
    padding: 50px;
}
.Gallery h2{
    color: #fff;
    padding-left: 20px;
}
.Contact{
    margin: 0;
    background-color: #252121;
    width: 100%;
    height: 300px;
}
.con-1{
    padding-left: 20px;
    color: #fff;
}
.con-2{
    width: 300px;
    height: 200px;
    margin-left: 500px;
    padding-left: 10px;
    border: 2px solid rgb(92, 90, 90);
}
.con-2 h3{
    color: #fff;
}
#msg{
    width: 172px;
    height: 50px;
}
.con-2 button{
    color: #7c7777;
}
footer{
    color: #fff;
    text-align: center;

}